
.first-child{
    display: flex;
    flex-direction: column;
    gap: var(--space-gap);
    grid: first-child;
    max-width: 100%;
}



.second-child{
    --space-gap:2rem;
    background: url('../images/EMBBuilding.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size:cover;
    padding-block: var(--space-gap);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid: sec-child;
    min-height: 20rem;
}

.main-grid-layout{
    --space-gap:2rem;
    display: grid;
    gap: var(--space-gap);
    justify-content: space-between;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr; 
    grid-area: 
    'first-child sec-child'
    'first-child sec-child'
    ;
    margin-block: 2rem;

    min-height: 35rem;
}


.first-child > .first-main-body{
    text-align: center;
    padding-block: var(--space-gap);
    margin-top: 3rem;
}

.first-child >.first-main-footer > .first-main-footer-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}
.first-child >.first-main-footer > .first-main-footer-inner button{
    border: 2px solid #606470;
    padding-inline: var(--space-gap);
    padding-block: 0.2rem;
    color: #606470;
    line-height: 1.5rem;
    background-color: transparent;
    border-radius: 0.5rem;
    transition: background-color ease-in-out 0.3s,border-color ease-in-out 0.3s;
}

.first-child >.first-main-footer > .first-main-footer-inner button:hover{
    transition: background-color ease-in-out 0.3s,border-color ease-in-out 0.3s;
    border: 2px solid #52C58B;
    color: #FFFFFF;
    background-color: #52C58B;
    cursor: pointer;
}

.first-child >.first-main-footer > .first-main-footer-inner a{
    text-align: end;
    letter-spacing: 0.1rem;
}



.second-child{
    --space-gap:2rem;
    background: url('../images/EMBBuilding.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size:cover;
    padding-block: var(--space-gap);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-child > .sec-main-header{
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.2rem;
}


.sign-up-form{
    --space-gap:1.2rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-gap);
}

.sign-up-form input{
    border-color: transparent;
    padding-block: 0.5rem;
    border-bottom-color: #333333;
}

.signup-btn{
    display: flex;
    padding-top: 1rem;
    gap: var(--space-gap);
}

.signup-btn > .signup-btn{
    background-color: #52C58B;
    border: 2px solid #52C58B;
    color:#FFFFFF;
}
.signup-btn > .cancel-btn{
    background-color: #606470;
    border: 2px solid #606470;
    color:#FFFFFF;
}

.sign-up-form button{
    padding-block: 0.2rem;
    padding-inline: 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    line-height: 1.5rem;
}


/* Main Navbar Style */
.nav,
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding-inline: 4rem;
    padding-block: 1rem;
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: white; 
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}


/* Main Navbar Style */


/* about us page style */
.bg-service-about{
    background-image: url('../images/About-Service-bg.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.about-page,
.core-values{
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    color: #458E67;
}

.about-us-intro{
    text-align: center;

    
 
}
.about-us-intro >*{
    padding-block: 0.5rem;
    color: #458E67;
}
.core{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.core-values-txt{
    max-width: 55ch;
}


/* about us page style */

/* our service  page style */

.service-header h1,
.moments-matter-header h1{
    color: #606470;
}
.service-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    justify-content: center;
}

.lending-service{
    background-color: rgba(127, 183, 155, 0.6);
}
.finance-service{
    background-color: rgba(255, 241, 132,0.6);
}
.property-service{
    background-color: rgba(116, 164, 219,0.6);
}

.service-card {
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.service-card h5{
    color: #5c5c5c;
}

img[class='service-logo']{
    max-width: 5rem;
}
/* out service page style */


/* moments that matter page style */

.moments-matter-container{
    padding-block: 2rem;
    background-color: #F6F6F6;
}

.moments-matter-header{
    padding-bottom: 2rem;
}

.moments-img-1{
    grid-area: img1;
    background: url('../images/img-3.svg');
}
.moments-img-2{
    grid-area: img2;
    background: url('../images/img-2.svg');
}
.moments-img-3{
    grid-area: img3;
    background: url('../images/img-1.svg');
}
.moments-img-4{
    grid-area: img4;
    background: url('../images/EMBBuilding.svg');
}
.moments-img-5{
    grid-area: img5;
    background: url('../images/img-5.svg');
}
.moments-img-6{
    grid-area: img6;
    background: url('../images/EMBBuilding.svg');
}
.moments-img-7{
    grid-area: img7;
    background: url('../images/EMBBuilding.svg');
}
.moments-img-8{
    grid-area: img8;
    background: url('../images/img-4.svg');
}
.moments-img-9{
    grid-area: img9;
    background: url('../images/EMBBuilding.svg');
}



.moments-matter-img{
    padding-inline: 2rem;
    width: 100%;
    min-height: 25rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-template-areas: 
    'img1 img2 img4 img5 img7 img7'
    'img1 img2 img4 img5 img7 img7'
    'img3 img3 img4 img6 img8 img9'
    'img3 img3 img4 img6 img8 img9'
    ;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
   
}

.moments-matter-img div{
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

/* moments that matter page style */

/* contact page style */
.contact-section{
    padding-block: 4rem;
    background: #458E67;
}
.contact-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding-block: 4rem;
    border-radius: 1rem;
}

.contact-content h1{
    max-width: 40ch;
    text-align: center;
    padding-bottom: 2rem;
    text-wrap: wrap;
    padding-inline: 2rem;
    z-index: 2;
}
.contact-btn{
    display: flex;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    gap: var(--space-gap);
    background-color: #52C58B;
    border: 2px solid #52C58B;
    color:#FFFFFF;
    border-radius: 0.5rem;
    z-index: 2;
}
.contact-btn:hover{
    cursor: pointer;
}
.corner-right-design{
    position: absolute;
    bottom: 0;
    right: 0;
}
    
.corner-left-design{
    position: absolute;
    top: 0;
    left: 0;
}


/* Login Modal Design */
.custom-modal-content {
    max-width: 28rem;
}
.Jgc-login{
    width: 5rem;
}
.login-modal-header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.3rem;
   margin-bottom: 0.5rem;
}

.login-modal-header > p{
    width: 50ch;
    text-align: center;
}
.login-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 1rem;
    margin-bottom: 2rem;
}
.login-field{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    min-width: 15rem;
}

.input-login{
    padding-block: 0.2rem;
    padding-inline: 0.3rem;
    border-radius: 0.3rem;
    border-color: #606470;
}
.sign-in-now{
    background-color:#52C58B;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: #FFFFFF;
    border: none;
    min-width: 15rem;
    border-radius: 0.5rem;
}


/* contact page style */

@media (max-width: 70rem) {
   
}

@media (max-width: 45rem) {
    .main-grid-layout{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-area: 
        'first-child'
        'sec-child'
        ;
    }

  
}