{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HROM</title>
    <link href= "{%static 'css/reset.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="{% static 'css/jquery.dataTables.min.css'%}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
</head>
<body>

  
    <div class="main-container">

        {% block content %} {% endblock content %}
      
    </div>
   
    <script src="{% static 'js/jquery-3.6.0.min.js '%}"></script>
    <script src="{% static 'js/jquery.min.js '%}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js '%}"></script>
    <script src="{% static 'js/base.js '%}"></script>
    <script src="{% static 'js/morehoriz.js '%}"></script>
   
    <script src="{% static 'js/useracc.js '%}"></script>
    <script src="{% static 'js/RecruitorHiring.js '%}"></script>
    <script src="{% static 'js/sidebartoggle.js '%}"></script>

    

</body>
</html>